<div class="blogContainer">
  <header>
    <h1>Mother of Blogs</h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="latest">Latest Posts</a></li>
        <li><a routerLink="all">All Posts</a></li>
        <li *ngIf="loggedIn"><a routerLink="addpost">New Post</a></li>
        <li><a routerLink="login">{{loggedIn ? "Log out" : "Log in"}}</a></li>
      </ul>
      
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>This blog is the Mother of all blogs. Basically because it's as ugly as the first blog ever created, but hopefully slightly more usefull.</p>
  </footer>
</div>