div{
    height: 30.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 1.3rem;
    padding: .8em;
    width: 10em;
    background-color: rgb(27, 94, 74);
    color: white;
    border-radius: 10px;
    margin-top: 1rem;
}